{% extends "base.html" %}

{% block title %}
{{lead.name}}
{% endblock title %}
{% block nav_links %}
{% include "include/nav_link.html" %}
{% endblock nav_links %}


{% block content %}
<div class="py-6 px-6">
    <h1 class = "mb-4 text-xl">{{lead.name}}</h1>
    {% if lead.description %}
        <p class="font-semibold">Lead Description</p>
        <p class="mb-2">{{lead.description}}</p>

    {% endif %}
    <p class="font-semibold">Priority</p>
    <p class="mb-2">{{lead.get_priority_display}}</p>

    <p class="font-semibold">Status</p>
    <p class="mb-2">{{lead.get_status_display}}</p>

    <p class="font-semibold">Team</p>
    <p class="mb-2">{{lead.team}}</p>

    <p class="font-semibold">Created at</p>
    <p class="mb-2">{{lead.created_at}}</p>

    <p class="font-semibold">Modified at</p>
    <p class="mb-6">{{lead.modified_at}}</p>

    <button  type='submit'><a href="{% url "lead_convert" lead.id %}" class="mx-2 py-3 px-5 rounded-xl bg-blue-500 text-white">Convert to Client</a></button>
    <button  type='submit'><a href="{% url "lead_edit" lead.id %}" class="mx-2 py-3 px-5 rounded-xl bg-teal-500 text-white">Edit</a></button>
    <button  type='submit'><a href="{% url "lead_delete" lead.id %}" class="py-3 px-5 rounded-xl bg-red-600 text-white">Delete</a></button>

    
</div>
<a class = "py-4 px-6 font-semibold" href="{% url "lead_list_page" %}">Back To Leads</a>
{% endblock content %}


