{% extends "base.html" %}

{% block title %}Homepage{% endblock title %}

{% block nav_links %}
{% include "include/nav_link.html" %}
{% endblock nav_links %}


{% block content %}
    

    <h1>Welcome to authentication system</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam aliquid rem, fugit dolores perspiciatis quibusdam corrupti aliquam, numquam incidunt autem temporibus in atque ea quisquam enim quam sit veritatis minus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam aliquid rem, fugit dolores perspiciatis quibusdam corrupti aliquam, numquam incidunt autem temporibus in atque ea quisquam enim quam sit veritatis minus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam aliquid rem, fugit dolores perspiciatis quibusdam corrupti aliquam, numquam incidunt autem temporibus in atque ea quisquam enim quam sit veritatis minus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam aliquid rem, fugit dolores perspiciatis quibusdam corrupti aliquam, numquam incidunt autem temporibus in atque ea quisquam enim quam sit veritatis minus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam aliquid rem, fugit dolores perspiciatis quibusdam corrupti aliquam, numquam incidunt autem temporibus in atque ea quisquam enim quam sit veritatis minus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam aliquid rem, fugit dolores perspiciatis quibusdam corrupti aliquam, numquam incidunt autem temporibus in atque ea quisquam enim quam sit veritatis minus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam aliquid rem, fugit dolores perspiciatis quibusdam corrupti aliquam, numquam incidunt autem temporibus in atque ea quisquam enim quam sit veritatis minus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam aliquid rem, fugit dolores perspiciatis quibusdam corrupti aliquam, numquam incidunt autem temporibus in atque ea quisquam enim quam sit veritatis minus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam aliquid rem, fugit dolores perspiciatis quibusdam corrupti aliquam, numquam incidunt autem temporibus in atque ea quisquam enim quam sit veritatis minus.
        
    </p>


    {% if request.user.is_authenticated %}
    <h1>Username :{{user.username}}</h1>
    <h2>Email:{{user.email}}</h2>
    {% endif %}
{% endblock content %}

